body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-color: #232323;
    color: white;
    /* height: 100px; */
    overflow: auto;
    border-bottom: 3px solid teal;
    padding: 30px 0 30px 0;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
}

.titulo {
    margin: 0;
    float: left;
}

.navbar {
    list-style: none;
    float: right;
    cursor: pointer;
}

li {
    float: left;
    margin-left: 10px;
    text-transform: uppercase;
}

.destaque {
    color: teal;
}

/* Enquadramento da pagina */

.container {
    width: 80%;
    margin: auto;
}

/* BANNER */

.banner {
    text-align: center;
    background-color: grey;
    background-image: url(../imgs/madeira.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    /* COVER ajusta conforme o tamanho do espaço */
    height: 300px;
}

.banner h1 {
    margin: 0;
    font-size: 50px;
    padding-top: 100px;
}

.banner h3 {
    color: white;
}

/* SABER MAIS */

.saiba-mais button {
    border: 0;
    background-color: teal;
    color: white;
    text-transform: uppercase;
    padding: 10px 40px;
    margin-top: 25px;
    cursor: pointer;
}

.saiba-mais {
    text-align: center;
    background-color: #232323;
    height: 80px;
    /* padding: 30px ; */
}

/* ICONES - MISSAO/VISAO/VALORES */

.box img {
    height: 100px;
}

.box {
    border-top: 1px solid teal;
    overflow: auto;
}

.box-item {
    /* border: 3px solid purple; */
    float: left;
    text-align: center;
    width: 27.3%;
    padding: 3%;
}

/* FOOTER */

.footer {
    text-align: center;
    background-color: teal;
    height: 80px;
}

.footer h4 {
    margin: 0;
    font-weight: 100;
    padding-top: 30px;
    color: white;
}

/* 09 / 04  - AULA*/

/* modificar a cor do link */

a {
    color: inherit;
    text-decoration: none;
}

.navbar :hover {
    font-weight: bold;
    color: white;
    background-color: teal;
    padding: 3.5px;
}

/* Estilo do Login */

.pag-login{
    background-color: #ecf0f1;
}

.box-login{
    background-color: white;
    width: 40%;
    /* centralização */
    margin: auto;
    text-align: center;
    box-shadow: 5px 7px 13px 1px gray;
}

.pag-login h1 {
    margin: 0;
}